{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Журнал логгирования</title>
        <!-- css классы extjs -->
        <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}vendor/extjs/resources/css/ext-all.css'/>
        <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}vendor/extjs/resources/css/ux/ux-all.css'/>
        <!-- m3 css-->
        <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}m3/css/m3.css'/>
        <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}m3/css/icons.css'/>
        <!-- m3 lightbox css-->
        <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}ext/css/lightbox.css'/>
        <!-- CSS -->
        <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}vendor/extjs/resources/css/ux/calendar.css'/>
        <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}vendor/extjs/resources/css/ux/gridsummary.css'/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/livegrid/resources/css/ext-ux-livegrid.css"/>
        <!-- базовые файлы extjs -->
        <script type="text/javascript" src="{{ STATIC_URL }}vendor/extjs/adapter/ext/ext-base.js"></script>
        <script type='text/javascript' src='{{ STATIC_URL }}vendor/extjs/ext-all.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}vendor/extjs/ux-all.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}vendor/extjs/locale/ext-lang-ru.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}vendor/extjs/locale/ux-lang-ru.js'></script>
        <!-- m3 js-->
        <script type='text/javascript' src='{{ STATIC_URL }}m3/js/m3-opt.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}vendor/livegrid/livegrid-all.js?_v={{ APP_VERSION }}'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}m3/js/ext-extensions/MultiGroupingGrid.js?_v={{ APP_VERSION }}'></script>
</head>
<body>
    <script>
        Ext.onReady(function() {

            // Загрузчик страниц-компонентов
            var componentLoader = new ComponentLoader();

            // Наименование страниц-компонентов, упорядоченные по их url
            var titlesByUrl = {};

            // Список компонентов, доступных в меню
            var components = Ext.decode('{{ components | safe }}');

            // Объект элемента меню
            var MenuElement = function(params) {
                MenuElement.superclass.constructor.call(this, params);

                this.on('click', function(cmp) {
                    componentLoader.load(params.url);
                });
            };
            Ext.extend(MenuElement, Ext.tree.TreeNode, {});
            Ext.reg('ext-menu-panel-element', MenuElement);

            // Компонент бокового меню
            var panelMenu = new Ext.tree.TreePanel({
                id: 'panel-menu',
                region: 'west',
                title: 'Меню',
                split: true,
                width: 225,
                minSize: 175,
                maxSize: 400,
                collapsible: true,
                margins: '0 0 5 5',
                cmargins: '0 5 5 5',
                rootVisible: false,
                lines: false,
                autoScroll: true,
                root: new Ext.tree.TreeNode(),
                collapseFirst: false,
                tbar: []
            });

            // Компонент панели с вкладками
            var panelTab = new Ext.TabPanel({
                id: 'panel-main',
                activeTab: 0,
                region: 'center',
                margins: '0 5 5 0',
                resizeTabs: true,
                tabWidth: 150,
                minTabWidth: 120,
                enableTabScroll: true,
                plugins: new Ext.ux.TabCloseMenu()
            });

            // Компонент верхней панели
            var panelHeader = new Ext.Container({
                id: 'container-header',
                region: 'north',
                height: 40,
                margins: {top: 14, right: 0, bottom: 0, left: 20}
            });

            // Область всех компонентов
            var viewport = new Ext.Viewport({
                layout: 'border',
                items: [
                    panelHeader,
                    panelMenu,
                    panelTab
                ]
            });

            // Заполнение бокового меню
            Ext.iterate(components, function(component) {
                titlesByUrl[component.url] = component.title;

                panelMenu.root.appendChild(new MenuElement({
                    iconCls: 'feed-icon',
                    leaf: false,
                    cls: 'feed',
                    expanded: false,
                    id: component.id,
                    url: component.url,
                    text: component.title
                }));
            });


            /**
             * Загрузчик компонентов
             */
            function ComponentLoader() {
                var self = this;
                var cache = {};

                self.load = function(url) {
                    if (cache[url] !== undefined) {
                        var panel = cache[url];
                        panelTab.setActiveTab(panel);
                    } else {
                        load(url);
                    }
                };

                function load(url) {
                    var mask = new Ext.LoadMask(viewport.container);
                    mask.show();

                    var request = {
                        url: url,
                        params: {},
                        success: function(response) {
                            mask.hide();
                            var panel = smart_eval(response.responseText);
                            panel.closable = true;
                            panel.title = titlesByUrl[url];

                            panelTab.add(panel);
                            panelTab.setActiveTab(panel);
                            panelTab.doLayout();

                            cache[url] = panel;
                        },
                        failure: function() {
                            mask.hide();
                            uiAjaxFailMessage.apply(this, arguments);
                        }
                    };

                    Ext.Ajax.request(request);
                }
            }
        });
    </script>
</body>
</html>